.nav a{
    color: black;
    text-decoration: none;
    justify-content: space-between;
    gap: 15px;
    background-color: rgb(255, 140, 0);
    padding: 5px;
    margin: 10%
}

.nav a:hover{
    color: black;
    border-radius: 25px;
}

.titol{
    color: blue;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.subtitol{
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: #01ff34;
}

#text{
    color: purple;
    font-weight: 900;
    text-align: center;
    font-weight: bold;
}

.imatge{
    border: 4px solid fuchsia;
    margin-left: 35%;
}

.imatge_container{
    background-color: rgb(86, 86, 86);
}

.imatge_estudis{
    margin-left: 25%;
}

.img_projectes5{
    margin-left: 20%;
}

.habilitats::before{
    content: "👇";
    margin-left: 5%;
}

.habilitats li:first-child{
    color: aqua;
}

.habilitats li:last-child{
    color: #e7dd44;
}

.Objectius::before{
    content: "👇";
    margin-left: 16%;
}

.Objectius li:first-child{
    color: crimson;
}

.Objectius li:last-child{
    color: #ff01ea;
}

.estudis li:first-child{
    color: #f6a558;
}

.estudis li:last-child{
    color: #3a5740;
}

.llistes li:first-child{
    color: rgb(0, 0, 128);
}    
    
.llistes li:last-child{
        color: rgb(255, 13, 0);
}

.llenguatges li:first-child{
    color: #aaf7e0;
}

.llenguatges li:last-child{
    color: #6e6e6e;
}

.pas_pas::before{
    content: "👇";
    margin-left: 40%;
}

.pas_pas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(69, 190, 193)
}